body {
  padding: 6em 0em;
}

.content-buffer {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.application-details p {
  margin-bottom: 0.1em;
}

.application-details textarea {
  resize: none;
}

/* sm width */
@media (min-width: 768px) { 
  .form-filter .form-control {
    width: 17%;
  }

  .form-filter button {
    width: 13%;
  }
}

@media (max-width: 768px) {
  .form-filter > * {
    margin-bottom: 0.75em;
  }

  .form-filter button {
    display: block;
    width: 100%;
  }
}

.table-center > tbody > tr > td {
  vertical-align: middle;
}