<!DOCTYPE html>
<html>
  <head>
    <title>Pizza - A Hackathon Platform</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/flatly.min.css' />
    <link rel="stylesheet" href="/stylesheets/auth.css">
  </head>
  <body>
    <div class="container">
      {{#if messages}}
        {{#each messages}}
        <div class="alert alert-{{this.style}} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{this.type}}!</strong> {{this.text}}
        </div>
        {{/each}}
      {{/if}}
      {{{body}}}
      <div class="text-center">
        <a href="/">Back To Home</a>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>