<form class="form form-signin" action="" method="POST">
  <h2 class="form-signin-heading">Change Password</h2>
  <p>Changing password for: <strong>{{user.email}}</strong></p>
  <div class="form-group">
    <input class="form-control" name="passwordOriginal" type="password" placeholder="Password" required>
  </div>
  <div class="form-group">
    <input class="form-control" name="passwordConfirm" type="password" placeholder="Password confirm" required>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block" type="submit">Change password</button>
  </div>
</form>