<div class="form form-signin" action="/accounts/login" method="POST">
  <h2 class="form-signin-heading">Login</h2>
  <div class="form-group">
    <input class="form-control" type="email" placeholder="Email" required autofocus>
  </div>
  <div class="form-group">
    <input class="form-control" type="password" placeholder="Password" required>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block" type="submit">Login</button>
  </div>
</div>