<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>Edit Your Application</h1>
    <hr>
    {{> applicationForm}}
  </div>
</div>
{{#extend "scripts"}}
  <script src="/javascripts/validator.min.js"></script>
{{/extend}}