  <h1>Applications</h1>
  <hr>
  <div class="well">
  </div>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Submitted</th>
        <th>Full Name</th>
        <th>School</th>
        <th>Level</th>
        <th>Major</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>6/30/2015</td>
        <td>Artur Tsurkan</td>
        <td>Western University</td>
        <td>Undergraduate</td>
        <td>Business</td>
        <td><a href="#">Website</a></td>
        <td><a href="#">GitHub</a></td>
        <td><a href="#">Resume</a></td>
      </tr>
    </tbody>
  </table>