<h1>Application Details</h1>
<hr>  
<div class="application-details">
  <div class="row">
    <div class="col-lg-7">
      <!-- Basic Details -->
      <div class="content-buffer row">
        <div class="col-lg-6">
          <p><strong>Full Name:</strong> Artur Tsurkan</p>
          <p><strong>Email:</strong> arturtsurkan@gmail.com</p>
          <p><strong>School:</strong> Western University</p>
          <p><strong>Level Of Study:</strong> Undergraduate</p>
          <p><strong>Graduation Year:</strong> 2016</p>
          <p><strong>Major:</strong> Business</p>
        </div>
        <div class="content-buffer col-lg-6">
          <p><strong>First Hackathon?</strong> Yes</p>
          <p><strong>Travel Reimbursement?</strong> Yes</p>
          <p><strong>Hardware Hack?</strong> Yes</p>
          <p><strong>Dietary Restrictions?</strong> No</p>
          <p><strong>T-Shirt Size:</strong> Men's - L</p>
        </div>
      </div>
      <!-- Essay Questions -->
      <div class="content-buffer row">
        <div class="col-lg-12">
          <p><strong>Why do you want to attend Hack Western?</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis pellentesque ipsum, eu tincidunt nunc. Sed eget condimentum nisl. Praesent ultricies in neque ac suscipit. Sed tincidunt imperdiet ornare. Morbi purus purus, iaculis vitae dolor a, volutpat iaculis orci. Ut et erat faucibus, fermentum ipsum ac, auctor tellus. Morbi non lacinia augue, nec commodo lectus. Praesent nec ex pretium justo lacinia varius.</p>
        </div>
      </div>
      <div class="content-buffer row">
        <div class="col-lg-12">
          <p><strong>What is something you have built or put together that you are the most proud of? It doesn’t need to be a hack/coding-related. It can also be an event, initiative, or anything creative you can think of.</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis pellentesque ipsum, eu tincidunt nunc. Sed eget condimentum nisl. Praesent ultricies in neque ac suscipit. Sed tincidunt imperdiet ornare. Morbi purus purus, iaculis vitae dolor a, volutpat iaculis orci. Ut et erat faucibus, fermentum ipsum ac, auctor tellus. Morbi non lacinia augue, nec commodo lectus. Praesent nec ex pretium justo lacinia varius.</p>
        </div>
      </div>
      <!-- Professional Information -->
      <div class="row">
        <div class="col-lg-6">
          <p class="content-buffer"><strong>Website</strong></p>
          <p><a href="http://tsurantino.com/">http://tsurantino.com/</a></p>
          <p class="content-buffer"><strong>ChallengePost</strong></p>
          <p><a href="http://challengepost.com/tsurantino/">http://challengepost.com/tsurantino</a></p>
        </div>
        <div class="col-lg-6">
          <p><strong>GitHub</strong></p>
          <p><a href="http://challengepost.com/tsurantino/">http://challengepost.com/tsurantino</a></p>
          <p class="content-buffer"><strong>Stats</strong></p>
          <div class="row">
            <div class="col-lg-6">
              <p>Repos: 3</p>
              <p>Gists: 7</p>
            </div>
            <div class="col-lg-6">
              <p>Followers: 4</p>
              <p>Following: 21</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-buffer">
        <div class="col-lg-12">
          <p><strong>Resume</strong></p>
          <p><a href="/files/ATsurkan_Resume.pdf">ATsurkan_Resume.pdf</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="well">
        <h4>Your Feedback</h4>
        <form class="form" action="." method="POST">
          <p><strong>Leadership:</strong></p>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Score" id="feedbackLeadershipScore" name="feedbackLeadershipScore">
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Comments" id="feedbackLeadershipComments" name="feedbackLeadershipComments" rows="3"></textarea>
          </div>
          <p><strong>Passion:</strong></p>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Score" id="feedbackLeadershipScore" name="feedbackLeadershipScore">
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Comments" id="feedbackLeadershipComments" name="feedbackLeadershipComments" rows="3"></textarea>
          </div>
          <p><strong>Technical Ability:</strong></p>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Score" id="feedbackLeadershipScore" name="feedbackLeadershipScore">
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Comments" id="feedbackLeadershipComments" name="feedbackLeadershipComments" rows="3"></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Submit Feedback</button>
        </form>
      </div>
    </div>
  </div>
</div>