<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>Edit {{user.username}}</h1>
    <hr>
    <form action="" method="POST">
      <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" type="text" name="username" value="{{user.username}}">
        <p class="help-block">This value must be unique</p>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="email" name="email" value="{{user.email}}">
        <p class="help-block">This value must be unique</p>
      </div>
      <div class="form-group">
        <label for="role">Role:</label>
        <select class="form-control" id="role" name="role">
          <option {{#if role.judge}}selected="selected"{{/if}}>Judge</option>
          <option {{#if role.hacker}}selected="selected"{{/if}}>Hacker</option>
          <option {{#if role.admin}}selected="selected"{{/if}}>Admin</option>
        </select>
      </div>
      <hr>
      <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>
  </div>
</div>