  <h1>Accounts</h1>
  <hr>
  <div class="well">
    <form class="form-inline form-filter">
      <input type="text" class="form-control" id="accountUsername" placeholder="Username">
      <input type="email" class="form-control" id="accountEmail" placeholder="Email">
      <select class="form-control" id="accountType">
        <option>Judge</option>
        <option>Hacker</option>
        <option>Admin</option>
      </select>
      <button type="submit" class="btn btn-default">Create Account</button>
    </form>
  </div>
  <hr>
  <table class="table table-center">
    <thead>
      <tr>
        <th style="width:30%">Username</th>
        <th style="width:30%">Email</th>
        <th style="width:10%"></th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>atsurkan</td>
        <td><a href="artur@hackwestern.ca">artur@hackwestern.ca</a></td>
        <td><a class="btn btn-primary btn-block" href="/applications/1">View</a></td>
        <td><a class="btn btn-danger btn-block" href="/applications/1">Delete</a></td>
      </tr>
    </tbody>
  </table>