<form class="form form-signin" action="" method="POST">
  <h2 class="form-signin-heading">Reset Password</h2>
  <p>Enter the e-mail of the user to reset their password</p>
  <div class="form-group">
    <input class="form-control" name="email" type="email" placeholder="E-mail" required>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block" type="submit">Reset password</button>
  </div>
</form>